/*CSS Side of Front End Tic Tac Toe Game*/
#body {
    min-height: 100vh;
    background-image: linear-gradient(135deg, #424242, black);
    background-repeat: no-repeat;
    overflow: hidden;
}
.header{
    color: #f0f0f0;
    text-align: center;
}
.button{
    background-color: #808080;
    color: #f0f0f0;
    text-align: center;
    display: inline-block;
    align-self: center;
}
#Gamecontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    margin: auto;
    margin-top: 30%;
}
#Game{
    color: white;
    background-color: gray;
    text-align: center;

}